extends layout

block content
  .ui.main.text.container
    .ui.one.column.middle.aligned.very.relaxed.stackable.grid
      .column
        h1.ui.header Hello Lensa, I want to play a game!
        form.ui.form(action="infosubmit" method="post")
          .field
            label Applicant Name
            input(type="text" name="applicantName" placeholder="Name")
          .field
            label Applicant Email
            input(type="text" name="applicantEmail" placeholder="Email")
          .field
            label Redirect URL
            input(type="text" name="redirectUrl" placeholder="Redirect URL")
          .field
            label Client Id
            input(type="text" name="clientId" placeholder="Client Id")
          .field
            label Api Key
            input(type="text" name="apiKey" placeholder="Api Key")
          button.ui.primary.button(type="submit") Play
      .ui.horizontal.divider Or
      .column
        h1.ui.header I want to see some results!
        form.ui.form(action="infosubmit" method="post")
          .field
            label Client Id
            input(type="text" name="clientId" placeholder="Client Id")
          .field
            label Api Key
            input(type="text" name="apiKey" placeholder="Api Key")
          .field
            label Game Id
            input(type="text" name="gameId" placeholder="Game Id")
          button.ui.primary.button(type="submit") Show
