doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .ui.fixed.inverted.menu
      .ui.container
        a.header.item(href="#")
          img.logo(src="/images/logo.png")
          | Saga Node Sample App
    block content
